
div{
    display: inline-block;
}
#box1{
    height: 200px;
    width: 200px;
    background-color: powderblue;
    background-image: url(instagram.png);
    background-size: cover;
    border: 3px solid black;

}
#box2{
    height: 200px;
    width: 200px;
    background-color: bisque;
    background-image: url(facebook.png);
    background-size: cover;
    border: 3px solid black;
}
#box3
{
    height: 200px;
    width: 200px;
    background-color:lightcoral;
    background-image: url(google.png);
    background-size: auto;
    border: 5px solid black;
}
#content{
    height: 400px;
    width:1250px;
    background-color: darkslategray;
}


