
.image{
    border: 5px solid  rgb(55, 7, 55);
    text-align: center;
}
h1{
    display: inline-block;
    margin: 0;
    font-size: 200px;
    background-image: url('LoginPage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}