div{
    height: 200px;
    width: 200px;
    background-color: aliceblue;
    border: 2px solid #000;
    color: black;
}

div:hover{
    background-color: brown;
    color: white;
}

div:active{
    background-color: lightcoralss;
    color: aliceblue;
}